# PyTorch ya está en la imagen base, no es necesario repetirlo aquí

# Ciencia de datos y utilidades
numpy
pandas
matplotlib
scikit-learn
scipy

# Visualización avanzada
seaborn
plotly

# Notebooks y herramientas
jupyter
ipykernel
notebook
nbconvert

# Otras utilidades útiles
tqdm
requests
